.div {
  flex: 1 1 0%;
  color: #4a5568;
  font-family: Helvetica;
  align-items: center;
  background: #cbd5e0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  text-align: center
}

.h1 {
  color: #4A5568;
  font-family: helvetica;
  text-align: center;
  align-items: center;
}

.btn{
  background: #38B2AC;
  font-size: bold;
  font-family: Helvetica;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  border: teal;
}

.btn:hover {
  background: #2C7A7B;
}

.btns{
  background: #38B2AC;
  font-size: bold;
  font-family: Helvetica;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  border: teal;
}

.btns:hover {
  background: #2C7A7B;
}