body {
  background: #191622;
  color:white;
  text-align:center;
  padding: 15%;
}
div {
  font-family: helvetica;
  font-size: bold;
  padding: 5px;
  margin-bottom: 10px;
}  
label {
  font-family: helvetica;
  font-size: 1.2rem;
}
input {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border-color: none;
  width: 250px;
  font-size: 1.3em;
}